* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#start {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.puffle {
  height: 160px;
  margin: 20px;
}

.startButton {
  background-image: url("assets/boton_ui_3_up.png");
  height: 28px;
  font-family: 'VT323', monospace;
  width: 141px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: white;
}

.startButton:hover {
  background-image: url("assets/boton_ui_3_down.png");
  cursor: pointer;
}

canvas {
  background-color: #dbf3ff;
}

.info {
  background-color: #333;
  width: 456px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px;
}

.info p {
  color: #fff;
  font-family: 'VT323', monospace;
  font-size: 22px;
  font-weight: 700;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #333;
  width: 456px;
  padding: 0px 20px;
}

.left, .up, .down, .right {
  width: 100%;
  margin: 20px 0px;
  border-radius: 10px;
  overflow: visible;
  background-position: center;
  background-repeat: no-repeat;
}

.up, .down {
  height: 70px;
  background-size: 112px;
}

.left, .right {
  height: 140px;
  background-size: 60px;
}

.up {
  background-image: url("assets/up1.png");
}

.up:hover {
  cursor: pointer;
  background-image: url("assets/up3.png");
}

.up:active {
  cursor: pointer;
  background-image: url("assets/up2.png");
}

.left {
  background-image: url("assets/left1.png");
}

.left:hover {
  cursor: pointer;
  background-image: url("assets/left3.png");
}

.left:active {
  cursor: pointer;
  background-image: url("assets/left2.png");
}

.right {
  background-image: url("assets/right1.png");
}

.right:hover {
  cursor: pointer;
  background-image: url("assets/right3.png");
}

.right:active {
  cursor: pointer;
  background-image: url("assets/right2.png");
}

.down {
  background-image: url("assets/down1.png");
}

.down:hover {
  cursor: pointer;
  background-image: url("assets/down3.png");
}

.down:active {
  cursor: pointer;
  background-image: url("assets/down2.png");
}
